<section class="container mt-3 col-8">
    <div class="row justify-content-center">
        <article class="card mb-3">
            <header class="card-header">
                <h4>{{titulo |titlecase}}</h4>
            </header>

            <form class="mt-3" [formGroup]="ventaForm" (ngSubmit)="guardarVenta()">
                <fieldset class="card-body">
                    <div class="form-floating mt-1">
                        <input type="text" class="form-control" id="vendedor" formControlName="vendedor">
                        <label for="vendedor">Nombre del vendedor</label>
                        <div class="text-danger" *ngIf="ventaForm.get('vendedor')?.hasError('required')
                             && ventaForm.get('vendedor')?.touched">
                            <span>El nombre del / la vendedor(a) <strong>es obligatorio</strong></span>
                        </div>
                    </div>
                </fieldset>
                <footer>
                    <div class="container mb-3">
                        <div class="row">
                            <div class="d-grid gap-2 col-6">
                                <a routerLink="/productos" class="btn btn-outline-dark" type="button">
                                    <i class="fas fa-arrow-left"></i> Regresar
                                </a>
                            </div>
                            <div class="d-grid gap-2 col-6">
                                <!-- Llamar modal para listar productos -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalProductoVenta">
                                    Crear nueva venta
                                </button>
                            </div>
                        </div>
                    </div>
                </footer>
            </form>
        </article>

        <!-- Modal con productos para venta -->
        <aside class="modal fade" id="modalProductoVenta" tabindex="-1" aria-labelledby="modalProductoVenta"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <div class="modal-body">
                        <table>
                            <thead>
                                <th>Producto</th>
                                <th>Cantidad</th>
                            </thead>
                        </table>
                        <tr>
                            <!-- Iteracion lista de productos -->
                            <td *>

                            </td>
                            <!-- Registro cantidad -->
                            <td>
                                <input type="number">
                            </td>
                        </tr>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar compra</button>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</section>