<header class="container-fluid mt=0" style="background-color: blueviolet;" data-bs-toggle="offcanvas"
    data-bs-target="#aside-menu" aria-controls="aside-menu">
    <button type="button" class="btn btn-light d-inline-flex my-auto"><i class="fas fa-bars"></i></button>
    <a class="d-inline-flex ms-3 my-auto" routerLink="/">
        <h1 class="text-white">Kaniro</h1>
    </a>
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/compras">Compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ventas">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/costos">Costos</a>
        </li>
      </ul>
    </div>
</header>
<!-- 
<aside class="offcanvas offcanvas-start" tabindex="-1" id="aside-menu" aria-labelledby="dashboard">
  <header class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </header>
  <section class="offcanvas-body">
      <div class="dropdown mt-3">
          <div *ngFor="let option of options">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuProductos"
                  data-bs-toggle="dropdown">
                  {{ option.nombre }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuProductos">
                  <li><a class="dropdown-item" href="#">Nuevo</a></li>
                  <li><a class="dropdown-item" href="#">Consultar</a></li>
                  <li><a class="dropdown-item" href="#">Editar</a></li>
                  <li><a class="dropdown-item" href="#">Eliminar</a></li>
              </ul>
          </div> 
      </div>
  </section>
</aside> -->

<router-outlet></router-outlet>