<p>este es el componente crear-compras works!</p>

<a routerLink="/compras" class="btn btn-dark btn-block">
    <i class="fas fa-arrow-left"></i> Regresar
</a>

<div class="container mt-3 col-8">

    <div class="row justify-content-center">
        <div class="=col">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>{{titulo | uppercase}}</h4>
                </div>

                <form class="mt-3" [formGroup]="comprasForm" (ngSubmit)="guardarCompra()">
                    <div class="card-body">
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
                            <label for="descripcion">Descripcion</label>
                            <div class="text-danger" *ngIf="comprasForm.get('descripcion')?.hasError('required')
                             && comprasForm.get('descripcion')?.touched">
                                <span>El descripcion de la compra <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" id="cantidad" formControlName="cantidad">
                            <label for="cantidad">Cantidad</label>
                            <div class="text-danger" *ngIf="comprasForm.get('cantidad')?.hasError('required')
                             && comprasForm.get('cantidad')?.touched">
                                <span>La cantidad de items <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" id="valor" formControlName="valor">
                            <label for="valor">Valor</label>
                            <div class="text-danger" *ngIf="comprasForm.get('valor')?.hasError('required')
                             && comprasForm.get('valor')?.touched">
                                <span>El valor de la compra <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" id="categoria" formControlName="categoria">
                            <label for="categoria">Categoria</label>
                            <div class="text-danger" *ngIf="comprasForm.get('valor')?.hasError('required')
                             && comprasForm.get('valor')?.touched">
                                <span>La categoria de la compra <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                    </div>
                    <section>
                        <div class="container mb-3">
                            <div class="row">
                                <div class="d-grid gap-2 col-6">
                                    <a routerLink="/compras" class="btn btn-outline-dark" type="button">
                                        <i class="fas fa-arrow-left"></i> Regresar
                                    </a>
                                </div>
                                <div class="d-grid gap-2 col-6">
                                    <button type="submit button" class="btn btn-success"
                                        [disabled]="comprasForm.invalid">
                                        <i class="fas fa-save"></i> Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>