/* Variables */
:root {
    /* Colors */
    --main: #8a2be2;
    --green:#21efd7;
    --red: #ef5421;
    --yellow: #fcb70a;
    --blue: #17affc;
    --gray: #707070;
    --light-gray: #9E9E9E;
    --white: #faf0e6;
    /* Fonts */
    --font-title: 'Roboto Mono', monospace;
    --font-main: 'Roboto', sans-serif;
}

html {
    height: 100%;
    width: 100%;
  }

body {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    font-family: var(--font-main);
}

.card, .card-header {
    background-color: transparent !important;
    border-color: transparent !important;
}

.title-list, .section-title {
    color: var(--main);
    font-weight: bold;
    text-transform: uppercase;
}

.table > tr > th, label {
    color: var(--main) !important;
}

label {
    text-align: left;
}

.btn {
    border-radius: 10px;
    text-transform: uppercase;
}
.btn:hover {
    box-shadow: 0 3px 3px var(--gray) !important;
    transition: all ease-in-out 0.5 !important;
}

.btn-primary, .btn-primary:hover {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    color: whitesmoke !important;
}

.btn-secondary, .btn-secondary:hover {
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
    color: whitesmoke,
}

.btn-danger,.btn-danger:hover {
    background-color: var(--red) !important;
    border-color: var(--red) !important;
    color: whitesmoke !important
}

.btn-dark, .btn-dark:hover {
    background-color: var(--gray) !important;
    border-color: var(--gray) !important;
    color: whitesmoke !important
}

.info-amount-items {
    background-color: var(--blue);
}