:root {
    /* Colors */
    --purple: #663A82;
    --green: #85CFBE;
    --fuchsia: #E811A3;
    --yellow: #E5BA0B;
    --gray: #707070;
    --ligth-gray: #9E9E9E;
    --white: #faf0e6;
    /* Fonts */

}


html {
    height: 100%;
    width: 100%;
  }

body {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.card, .card-header {
    background-color: transparent;
    border-color: transparent;
}

.table-title {
    color: blueviolet;

    text-transform: uppercase;
}

th {
    color: blueviolet;
}

.btn {
    border-radius: 10px;
}
.btn:hover {
    box-shadow: 0 3px 3px #000;
    transition: all ease-in-out 0.5;
}

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
    color: whitesmoke;
    text-transform: uppercase;
}

.btn-secondary {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: whitesmoke,
}

.btn-danger {
    background-color: var(--fuchsia);
    border-color: var(--fuchsia);
    color: whitesmoke
}
