<div class="container row justify-content-center">
    <div class="col-md-9" style="text-align: center">
        <div class="card">
            <div class="card-header">
                <h4>Listado Compras</h4>
                <a routerLink="/crear-compras" class="nav-link active btn btn-dark" type="button"
                    role="button">NUEVO</a>
            </div>
            <div>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Fecha Registro</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                    </tr>
                    <tr *ngFor="let compra of listaCompras">
                        <td *ngHide="true">{{compra._id}}</td>
                        <td>{{compra.fechaRegistro}}</td>
                        <td>{{compra.descripcion}}</td>
                        <td>{{compra.categoria}}</td>
                        <td>{{compra.valor}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button class="btn btn-secondary" ng-click="mostrarFormActualizar(compra)" type="button"
                                    role="button">
                                    <i class="fas fa-edit"></i> Editar
                                </button>
                                <a class="btn btn-danger" ng-click="abrirModal(compra.id)">
                                    <i class="fas fa-trash"></i> Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <h5 *ngIf="listaCompras.length==0">No hay items para mostrar</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center bg-success text-white mb-3">
            <div class="card-body">
                <h3>Total Registros</h3>
                <h4 class="display-4">
                    <i class="fas fa-cash-register"></i> {{listaCompras.length}}
                </h4>
            </div>
        </div>
    </div>
</div>