<div class="container">
    <section class="col-12 justify-content-center" style="text-align: center">

        <div class="row justify-content-center mt-3">
            <div class="col-md-3">
                <div class=" col-md-3card text-center info-amount-items text-white mb-3 mt-3">
                    <div class="card-body">
                        <h3>Total Registros</h3>
                        <h4 class="display-4">
                            <i class="fas fa-cash-register"></i> {{listaCompras.length}}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" col-md-3card text-center info-amount-items text-white mb-3 mt-3">
                    <div class="card-body">
                        <h3>Total Compras</h3>
                        <h4 class="display-4">
                            <i class="fas fa-money-bill-wave"></i> {{total | currency: 'USD'}}
                        </h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-end">
            <a routerLink="/crear-compra" class="d-block btn btn-primary m-1" type="button" role="button">
                <i class="fas fa-plus-circle"></i>
                nuevo
            </a>
        </div>

        <div class="card">
            <header class="card-header">
                <h4 class="title-list">Listado Compras</h4>
            </header>

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped table-hover table-borderless table-sm align-middle">
                    <tr>
                        <th>Fecha Registro</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th>Valor Unitario</th>
                        <th>Valor Total</th>
                        <th>Acciones</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let compra of listaCompras">
                            <td [hidden]="true">{{compra._id}}</td>
                            <td>{{compra.fechaRegistro | date: 'short'}}</td>
                            <td class="text-capitalize">{{compra.descripcion}}</td>
                            <td>{{compra.categoria}}</td>
                            <td class="text-end">{{compra.cantidad}}</td>
                            <td class="text-end">{{compra.valor | currency: 'USD'}}</td>
                            <td class="text-end">{{compra.valor*compra.cantidad | currency: 'USD'}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button class="btn btn-secondary m-1" [routerLink]="['/editar-compra',compra._id]"
                                        type="button" role="button">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <a class="btn btn-danger m-1" (click)="eliminarCompra(compra._id)">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 *ngIf="listaCompras.length==0">No hay items para mostrar</h5>
            </div>
        </div>
    </section>